.spinner {
    height: calc(100vh - var(--navBar-height));
    display: flex;
    /* flex-direction: row; */
    justify-self: center;
    align-items: center;
    /* border: solid red 1px; */
}

svg{
    height: 100px;
    width: 100px;
}
