.chat-box-header {
    color: white;
}

.section-container {
    height: calc(100vh - var(--navBar-height));
    display: flex;
    flex-direction: row;
}

.online-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.online-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: 700;
}

.online-section {
    margin: 20px 10px;
}

.online-presence {
    display: flex;
    height: 30px;
    padding: 5px 20px;
    margin: 5px 10px;
    background-color: #647ca4;
    color: white;
    border-radius: 15px;
    /* border: 1px solid white; */
}

.green-dot {
    /* border: 1px solid red; */
}
.fullname {
    flex: 3;
    /* border: 1px solid red; */
}
.chat-message-header .pvt-username {
    flex: 2;
    font-weight: 500;
    /* border: 1px solid red; */
}

.online-footer {
    text-align: center;
    margin: 20px 0;
}

.chat-box-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100vh - (--navBar-height);
    justify-content: space-between;
}

.profile-details {
    display: flex;
    align-items: center;
    height: 85px;
    /* border: 1px solid red; */
}

.profile-details .avatar {
    margin: 20px 20px;
}

.profile-details .chat-box-fullname {
    margin: 20px 5px;
    font-size: 2rem;
}

.chat-box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 1px 8px 40px rgba(0, 0, 0, 0.3); */
    /* border-radius: 20px; */
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    height: 50px;
    width: 50px;
    /* border: 2px solid red; */
}

.feature:hover {
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    color: black;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    /* border: 1px solid white; */
}
.chat-message-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-message-header p:first-child:hover {
    text-decoration: underline;
    color: var(--dark-color);
    cursor: pointer;
}

.username {
    flex: 2;
    font-weight: bold;
}

.message-insight{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    align-items: end;
    justify-content: space-between;
}

.recipet{
    display: flex;
    justify-content: flex-end;
}

.timestamp {
    display: flex;
    align-items: end;
    /* flex: 1; */
    justify-content: end;
    font-size: 0.7rem;
    padding-left: 10px;
    /* border: 1px solid blue; */
}

.games-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.games-header {
    font-weight: bold;
}

.games {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 20px 10px;
    overflow-y: scroll;
    overflow: auto;
}

.game {
    border: 1px solid white;
    height: 175px;
    width: 150px;
    margin: 10px 10px;
    border-radius: 15px;
}
