.chat-container {
    display: flex;
    flex-direction: column;
    height: 85vh; /* Adjust this value according to your layout */
}

.chat-page {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse; /* This will make new messages appear at the bottom */
}

.input-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chat-page {
    width: 100%;
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.chat-page div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.chat-page h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
    font-weight: bold;
}

.chat-page p {
    margin: 0;
}

.chat-page p:last-child {
    font-size: 0.8em;
    color: #999;
}
