.graphs-container {
    display: grid;
    grid-template-rows: 1fr auto;
}

.top {
    display: grid;
    height: 40vh;
    width: 100%;
    padding-left: 32%;
    
}

.bottom {
    display: grid;
    height: 40vh;
    width: 100%;
    padding-left: 10%;
    
}
