.insight-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
    justify-content: space-evenly;
}

.doughnut {
    padding: 2rem;
    border: 2px solid grey;
    margin: 1rem;
    /* border-radius: 5%; */
    flex: 1;
}
.bar {
    padding: 2rem;
    border: 2px solid grey;
    margin: 1rem;
    /* border-radius: 5%; */
    flex: 2;
}

/* .top{
    flex: 1;
    height: 50vh;
    
}
.bottom{
    flex: 2;
    height: 50vh;
    
} */
