.landing {
    position: relative;
    background: url(../public/landing-wallpaper.jpg) no-repeat center
        center/cover;
    height: 100vh;
}

:root {
    --primary-color: #2aa4b7;
    --dark-color: #343a40;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
}

.btn {
    display: inline-block;
    background: var(--light-color);
    color: #333;
    margin-top: 2px;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    /* transition: opacity 0.2s ease-in; */
    outline: none;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
    background: var(--light-color);
    color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
    background: var(--danger-color);
    color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
    background: var(--success-color);
    color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
}

.btn:hover {
    opacity: 0.8;
}

.login-form input[type="email"],
.login-form input[type="password"],
.signup-form input[type="email"],
.signup-form input[type="text"],
.signup-form input[type="password"] {
    width: 94%;
    padding: 0.4rem;
    margin: 0.2rem;
    font-size: 1rem;
}

.login-form
    input[type="submit"]
    .signup-form
    input[type="submit"]
    .form
    input[type="button"],
button {
    font: inherit;
    width: inherit;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #01193f;
    opacity: 1;
    top: 0;
    width: 100%;
}

.navbar ul {
    display: flex;
    padding-right: 1.5rem;
}

ul {
    list-style: none;
}

.navbar a {
    color: #fff;
    padding: 0 1rem;
    margin: 0 0rem;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--primary-color);
}

.navbar .welcome span {
    margin-right: 0.6rem;
}

.navbar p {
    padding-left: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
