.App {
  text-align: center;
}
.grid-container {
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 1fr for equal width */
  grid-auto-rows: 325px; /* Equal height */
  /* gap: 10px; Spacing between grid items */
}

.grid-item {
  background-color: #f0f0f0; /* Placeholder background color */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin: 5px;
  
}