.container{
  display: flex;
  width: 100%;
  /* border: 1px solid black; */
}

.right-container{
  flex: 2;
  margin-left: 10px;
  
  /* border: 1px solid black;
  margin: 2px; */
}

.left-container{
  flex: 1;
  
  /* border: 1px solid black;
  margin: 2px; */
}