/* @font-face {
    font-family: "CustomFont";
    src: url("../public/CASCADIACODE.TTF") format("truetype");
} */

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

code {
    font-family: "Cascadia Code", sans-serif;
}
