/* @font-face {
    font-family: "CustomFont";
    src: url("../public/CASCADIACODE.TTF") format("truetype");
} */

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    position: relative;
    background: url(../public/landing-wallpaper.jpg) no-repeat center
        center/cover;
}

code {
    font-family: "Cascadia Code", sans-serif;
}
